body {
	background: rgba(224, 242, 241, 0.2);
}
.besar,
.footer h1 {
	text-transform: uppercase;
}
.footer h1 {
	font-size: 20px;
}
.footer {
	background: rgb(0, 105, 92);
	padding: 30px;
	padding-bottom: 50px;
}
.footer * {
	color: white !important;
}
.footer a {
	text-decoration: underline;
}
.thumbnail {
	border: none;
	background: transparent;
}
.thumbnail img {
	max-width: 80%;
}
.isi {
	border: 2px solid rgb(128, 203, 196);
	border-bottom: none;
	margin: 30px;
	margin-bottom: 0;
	padding: 30px 80px 50px;
	color: rgb(0, 105, 92);
}
.isi h1 {
	font-weight: 100;
	letter-spacing: 5px;
}
.isi h1:first-child + h1 {
	margin: 10px;
}
@media (max-width: 767px){
	.isi {
		margin: 10px;
		margin-bottom: 0;
		padding: 10px;
	}
}