.besar,
.footer h1 {
	text-transform: uppercase;
}
.footer {
	background: rgb(0, 105, 92);
}
.footer * {
	color: white !important;
}
.footer a {
	text-decoration: underline;
}
.thumbnail {
	border: none;
}
.thumbnail img {
	width: 100px;
	max-width: 80%;
}
.isi {
	border: 1px solid rgb(0, 105, 92);
	margin: 30px;
	margin-bottom: 0;
	padding: 30px;
	color: rgb(0, 105, 92);
}