.besar,
.footer h1 {
	text-transform: uppercase;
}
.footer {
	background: rgb(0, 105, 92);
}
.footer * {
	color: white !important;
}
.footer a {
	text-decoration: underline;
}
.thumbnail {
	border: none;
}
.thumbnail img {
	width: 100px;
	max-width: 80%;
}
.isi {
	border: 2px solid rgb(128, 203, 196);
	border-bottom: none;
	margin: 30px;
	margin-bottom: 0;
	padding: 30px 80px 50px;
	color: rgb(0, 105, 92);
}
.isi h1 {
	font-weight: 100;
	letter-spacing: 5px;
}
.isi h1:first-child {
	line-height: 1px;
}
@media (max-width: 767px){
	.isi {
		margin: 10px;
		margin-bottom: 0;
		padding: 10px;
	}
}